<html>
<head>
    <title>Examinus Calculatus</title>
    <script type="text/javascript" src="{{url_for('static',filename='lib/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.5.0/math.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="icon" href="{{url_for('static', filename='billeder/calculator.png')}}" sizes="16x16 32x32" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='hamburgers.css')}}"/>
</head>
<body>
    <div class="wrapper">
        <div id="notsidebar">
            <div id="container"></div>
            <div id="inputContainer">
                <input placeholder="Input expression here" type="text" id="inputbox"/>
<button class="hamburger hamburger--spring" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
            </div>
        </div>
        <div id="sidebar">
            <button class="buttonfunc" id="button1">test</button>
            <button class="buttonfunc" id="button2">test</button>
            <button class="buttonfunc" id="button3">test</button>
            <button class="buttonfunc" id="button4">test</button>
            <button class="buttonfunc" id="button5">test</button>
            <button class="buttonfunc" id="button6">test</button>
            <button class="buttonfunc" id="button7">test</button>
            <button class="buttonfunc" id="button9">test</button>
            <button class="buttonfunc" id="button10">test</button>
            <button class="buttonfunc" id="button11">test</button>
            <button class="buttonfunc" id="button12">test</button>
            <button class="buttonfunc" id="button13">test</button>
            <button class="buttonfunc" id="button14">test</button>
            <button class="buttonfunc" id="button15">test</button>
            <button class="buttonfunc" id="button16">test</button>
            <button class="buttonfunc" id="button17>test</button>
            <button class="buttonfunc" id="button19">test</button>
            <button class="buttonfunc" id="button20">test</button>
            <button class="buttonfunc" id="button21">test</button>
            <button class="buttonfunc" id="button22">test</button>
            <button class="buttonfunc" id="button23">test</button>
            <button class="buttonfunc" id="button1">test</button>
            <button class="buttonfunc" id="button2">test</button>
            <button class="buttonfunc" id="button3">test</button>
            <button class="buttonfunc" id="button4">test</button>
            <button class="buttonfunc" id="button5">test</button>
            <button class="buttonfunc" id="button6">test</button>
            <button class="buttonfunc" id="button7">test</button>
            <button class="buttonfunc" id="button9">test</button>
            <button class="buttonfunc" id="button10">test</button>
            <button class="buttonfunc" id="button11">test</button>
            <button class="buttonfunc" id="button12">test</button>
            <button class="buttonfunc" id="button13">test</button>
            <button class="buttonfunc" id="button14">test</button>
            <button class="buttonfunc" id="button15">test</button>
            <button class="buttonfunc" id="button16">test</button>
            <button class="buttonfunc" id="button17>test</button>
            <button class="buttonfunc" id="button19">test</button>
            <button class="buttonfunc" id="button20">test</button>
            <button class="buttonfunc" id="button21">test</button>
            <button class="buttonfunc" id="button22">test</button>
            <button class="buttonfunc" id="button23">test</button>
        </div>
    </div>
</body>
</html>